---
layout: default
---

<div class="resume">
    <div class="box">
        {% for item in site.data.contact %}
            <div class="icon-box {{ item[0] }}">
                {% if item[1].link %}
                    <a href="{{ item[1].link }}">{{ item[1].text }}</a>
                {% else %}
                    {{ item[1].text }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="box">
        <p>{{ site.data.summary.text }}</p>
    </div>
    <div class="box">
        <h1>Skills</h1>
        <div class="indent">
            <h2>Languages</h2>
            <div class="indent">
                <h3>Proficient</h3>
                <span class="indent">{{ site.data.skills.languages.proficient | array_to_sentence_string }}</span>
                <h3>Familiar</h3>
                <span class="indent">{{ site.data.skills.languages.familiar | array_to_sentence_string }}</span>
            </div>
        </div>
        <div class="indent">
            <h2>Frameworks/Platforms</h2>
            <span class="indent">{{ site.data.skills.frameworks | array_to_sentence_string }}</span>
        </div>
        <div class="indent">
            <h2>Platforms</h2>
            <div class="indent">
                {% for item in site.data.skills.platforms %}
                    <div>{{ item }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="box">
        <h1>Experience</h1>
        {% for item in site.data.experience %}
        <div class="section indent">
            <div class="header">{{item.title}} - {{ item.company }} ({{item.location}}) <span class="right-align">{{ item.start }} - {% if item.end %}{{ item.end }}{% else %}Present{% endif %}</span></div>
            <div>
                {{ item.summary }}
                <h2>Duties</h2>
                <ul>
                    {% for duty in item.duties %}
                        <li>{{ duty }}</li>
                    {% endfor %}
                </ul>
                <h2>Accomplishments</h2>
                <ul>
                    {% for accomplishment in item.accomplishments %}
                        <li>{{ accomplishment }}</li>
                    {% endfor %}
                </ul>
                {% if item.opensource %}
                    <h2>Open Source Contributions</h2>
                    <ul>
                        {% for opensource in item.opensource %}
                            <li>{{ opensource }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="box">
        <h1>Education</h1>
        <div class="section indent">
            {% for item in site.data.education %}
            <div>
                <div class="header">{{ item.school }} <span class="right-align">{{ item.graduated }}</span></div>
                {{ item.type }} - {{ item.major }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>