@media print {
  .wrapper {
    width: 100%;
  }

  .icon-box {
    width: 40%;
  }

  .box {
    @include box-shadow(0, 0, 0, #000);
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
  }
}